:root {
  --primary-color: #1f629a;
  --secondary-color: #e8eff6;
  --accent1-color: #c7b494;
  --accent2-color: #c98331;
  --backg1-color: #1f639a83;
  --font-family-primary: "Bebas Neue", sans-serif;
  --font-family-secondary: "Quicksand", serif;
}
body {
  background-color: white;
  max-width: 800px;
  margin: auto;
}
header {
  padding: 20px;
  text-align: center;
}
header img {
  max-width: 200px;
}
h1,
h2 {
  font-family: var(--font-family-primary);
  color: var(--accent2-color);
}
p {
  font-family: var(--font-family-secondary);
  color: var(--primary-color);
}
nav > ul > a {
  text-decoration: none;
}
.hero {
  position: relative;
}
.hero h1 {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-family-secondary);
  font-size: 48px;
  color: var(--secondary-color);
  background-color: var(--backg1-color);
  width: 100%;
  text-align: center;
}
.hero article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-family-secondary);
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 20px;
  background-color: var(--accent2-color);
  max-height: 230px;
  width: 80%;
  
}
.hero article p {
    color: var(--secondary-color);
    padding-right: 15px;
}
.hero article img {
  max-width: 200px;
  max-height: 280px;
  margin-right: 20px;
  object-fit: cover;
  object-position: right;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}
